# Task E
_Use the location data collected in step A to find out lifts and sentiments regarding the candidates in large versus small cities/towns in Texas._

In [1]:
import numpy as np
import pandas as pd

Read in all tweets into dataframs.

In [2]:
tweets = pd.read_csv('tot_tweets.csv')

In [3]:
tweets = tweets.drop(columns=['id'])

In [4]:
tweets.shape

(5741, 2)

In [5]:
tweets.head()

         location                                               text
0  Tennessee, USA  b"RT @AliAdair22: \xf0\x9f\x90\xa6Next, Beto O...
1             NaN  b"RT @AliAdair22: \xf0\x9f\x90\xa6Next, Beto O...
2             NaN  b"Ted Cruz, Beto O'Rourke try to rally Latino ...
3         America  b'RT @RonNehring: Third poll now showing Cruz ...
4      West Texas  b'Beto O\xe2\x80\x99Rourke, the Democratic con...

Let's try to take care of the names.

In [6]:
def replace_names(text):
    
    text = text.lower()
    
    beto_words = ['@betoorourke' , "beto o'rourke", "o'rourke", 'rourke']
    cruz_words = ['@tedcruz', 'ted cruz', 'ted']
    
    for w in beto_words:
        try:
            text = text.replace(w, 'beto')
        except:
            pass
    for w in cruz_words:
        try:
            text = text.replace(w, 'cruz')
        except:
            pass
    
    return text

In [7]:
# apply replace_names() on each tweet
text_column = []
for t in tweets.itertuples():
    text = t.text
    new_text = replace_names(text)
    text_column.append(new_text)

In [8]:
tweets.text = text_column

Let's get a list of what we'll consider big cities/towns in Texas.

In [9]:
large_cities = open('large_cities.txt', 'r')
cities = []
for line in large_cities:
    l = line.strip()
    l_list = l.split()
    if l_list[2].isalpha():
        city = l_list[1] + ' ' + l_list[2]
    else:
        city = l_list[1]
    cities.append(city)
cities = cities[0:11]
print (cities)

['Houston', 'San Antonio', 'Dallas', 'Austin', 'Fort Worth', 'El Paso', 'Arlington', 'Corpus Christi', 'Plano', 'Laredo', 'Lubbock']

In [10]:
# get column for location that is either Big, Small, or none
location_column = []
for t in tweets.itertuples():
    if type(t.location) == str:
        for c in cities:
            if c in t.location:
                location_column.append('Big')
                break
            elif c == cities[-1] and ', TX' in t.location:
                location_column.append('Small')
                break
            elif c == cities[-1]:
                location_column.append('none')
                break
    else:
        location_column.append('none')

In [11]:
tx_tweets = tweets
tx_tweets.location = location_column
tx_tweets = tx_tweets[tx_tweets['location'] != 'none']
tx_tweets = tx_tweets.reset_index()
tx_tweets = tx_tweets.drop(columns=['index'])

In [12]:
tx_tweets.shape

(410, 2)

In [13]:
tx_tweets.head()

  location                                               text
0      Big  b'rt @wfaa: does texas\xe2\x80\x99 senate race...
1      Big  b"cruz, beto try to rally latino voters in tex...
2      Big  b'rt @msnbc: "cruz has insiscruz that we repea...
3      Big  b'does texas\xe2\x80\x99 senate race belong to...
4      Big  b"rt @brandikhou: i've heard from a lot of you...